# **PYTHON START**-->

Python is the computer programming language used for build websites, software, conduct data analytics. It is high level programming language. It is developed by **Guido Van Rossum** in 1991.



 WHY PYTHON / FEATURES OF PYTHON   ▶


* Easy to learn.
* open source community development.
* Extensive support libraries like NumPy, Pandas.

**VARIABLE IN PYHTON --->** 

*Variable is reserved memory location to store values. Means that when we create a variable then we will reserved some space in memory. Variables can be declared by any name and alphabet. 
The (=) sign are used to assign the value to variable.In programming this sign is known as assignment operator.

 RULES FOR DECLARING THE VARIABLE ▶
 * Variable name must start with letter or underscore.
 * Variable name can contain alphanumeric characters & underscores.
 * Variable names are case sensitive. i:e aa, Aa, AA are three different variable.

In [ ]:
 a = 12 # declaring a variable "a" and reserve memory in variable and assigned 12 to variable

In [ ]:
print(a) # access the variable

12

In [ ]:
nish = 22    # nish is a variable we made and reserve memory.

In [ ]:
print(nish)

22

## keywords in python

**Python Keywords: An Introduction** -->

Value Keywords: True, False, None.

Operator Keywords: and, or, not, in, is.

Control Flow Keywords: if, elif, else.

Iteration Keywords: for, while, break, continue, else.

Structure Keywords: def, class, with, as, pass, lambda.

Returning Keywords: return, yield.

Import Keywords: import, from, as.

⚫**Keywords in python are reserved words that can not be used as a variable name, function name, or any other identifiers.**  -->

▶**Literals in python are which whose value remains fixed throughtout whole program and identifiers is name used to identify a variable, function, class. The identifiers is should start with character or underscore. for e:g-var1, _var1, _var_1**  -->

# **some concept about python**  --  >

In [ ]:
a = 7 # declare two variables a and b.
b = 7

In [ ]:
type(a) # a type is an integers data type.

int

In [ ]:
id(a) # here we will access the address in which (a) is stores.

11126880

In [ ]:
id(b) # access the address of variable b at which the  b is stored.

11126880

 **some basic and important concept knowing with program    ----->**

In [ ]:
a = 4
b = 6

if a>b:
  print("a is greater") # here this is if else statement when we write if statement and this colon indicate and make a block and the statement inside the block execute if statement is true.
else:
  print(" b is greater")

 b is greater

In [ ]:
aa = 4
if aa > 3:
  print("a is greater")
  print(a)
  print(a+10)
else:
  print("NONE")

a is greater
4
14

# DATA STRUCTURE AND DATA TYPES IN PYTHON ----->

*Numeric data types:   int, float, complex.

*String data types:  str.

*Sequence types:  list, tuple.

*Binary types:  bytes, bytearray.

*Mapping data type:   dict.

*Boolean type:   bool.

-->  **numeric data type**  -->

In [ ]:
a = 2.3  # Float is used to represent real numbers and is written with a decimal point dividing the integer and fractional parts. 
#For example, 97.98, 32.3+e18, -32.54e100 all are floating point numbers.
type(a)

float

In [ ]:
a = 23    # INTEGER,It contains positive or negative whole numbers (without fraction or decimal).
type(a)

int

In [ ]:
a = (3 + 7j)  #The complex data type in python consists of two values, the first one is the real part of the complex number, and
# the second one is the imaginary part of the complex number.

In [ ]:
type(a)

complex

In [ ]:
a = None #The None keyword and none data type is used to define a null value, or no value at all. None is not the same as 0, False
type(a)

NoneType

# SEQUENCE DATA TYPE  ---->

# **STRING....**

In [ ]:
str = "coders ready"  # string is data type written in double quotes.string is the immutable.

In [ ]:
print(str)   # access our string we made.

coders ready

## VARIOUS OPERATIONS ON STRING

In [ ]:
str.capitalize()   # this operation make first letter capital and rest are in lower case.

'Coders ready'

In [ ]:
str[2]    # acccessing the element of string by index number start from 0.

'd'

In [ ]:
str.casefold()   # to make all letters in lower case.

'coders ready'

In [ ]:
str.center(10) #Python String center() method creates and returns a new string that is padded with the specified character.

'coders ready'

In [ ]:
str.count('e')  # string count(), couunt number of time a element and a word be present in a string. syntax: stringname.count('element')

2

In [ ]:
str.find('e')  # find() in a string returns the index nummber of that element we searched. syntax: stringname.find('element')

3

In [ ]:
str[2:7]   # slicing in a string, here we also access the small part of string

'ders '

In [ ]:
str[2:-3]   # slicing with negative index number from right side.

'ders re'

In [ ]:
# formatting() in string.
# The format() method formats the specified value(s) and insert them inside the string's placeholder.
#The placeholder is defined using curly brackets: {}   syntax: string.format(value1, value2...)

# for example let a new string we have as:     

str1 = "welcome to {} {}"

In [ ]:
str1.format("coders", "ready")

'welcome to coders ready'

In [ ]:
str.index('e')  # to know the index of an element.

3

THIS IS THE ALL ARE IMPORTANT OPERATIONS OR METHODS DONE ON STRING..

# TUPLE DATA TYPE IN PYTHON ---->

Tuples are used to store multiple items in a single variable.
A tuple is a collection which is ordered and unchangeable.
Tuples are written with round brackets.
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

In [ ]:
tup1 = (5, 3.2, 'coders', None, True, (3, 4, 5))  # made a new tuple under round brackets... contains diffrent data types

VARIOUS METHODS AND OPERATION ON TUPLE ---->

In [ ]:
tup1[0]   # accessing the element of list by index number.

5

In [ ]:
tup1[5] # accessing index number 5 element....

(3, 4, 5)

In [ ]:
tup1[5][1]   # accessing the [1] index number element of subtuple at index 5

4

In [ ]:
tup1[-1]    # accessing elements of tuple from the right side using negative index number.

(3, 4, 5)

In [ ]:
tup1[-1][2]   # accesssing the element of subtuple...

5

In [ ]:
  # concatenation of two tuples  as   ---->

tup11 = ('hello', 22)

In [ ]:
tup22 = (' nishant', 222)

In [ ]:
print(tup11 + tup22)

('hello', 22, ' nishant', 222)

In [ ]:
# nesting  of the tuples

tup33 = (tup11 , tup22)

In [ ]:
tup33

(('hello', 22), ' nishant')

In [ ]:
tup1.count(5)   # to count the number of times an element is present in tuple.  syntax: tuplename.count(element)

1

In [ ]:
tup1.index(5)    # to know the index number of an specific element.   syntax: tuplename.index(element)

0

In [ ]:
tup1[1:3]  # slicing in the tuple is all similar to the slicing in the string....

(3.2, 'coders')

### LIST DATA TYPE ---->

A single list may contain DataTypes like Integers, Strings, as well as Objects. Lists are mutable, and hence, they can be altered even after their creation.

Lists in Python can be created by just placing the sequence inside the square brackets[] and elements in lists are seperated by comma.

syntax:     listname = [elements]

In [ ]:
# creating a list --->

lst1 = [5, 3.2, 'coders', None, True, (3,2,4)]

In [ ]:
print(lst1)  # printing the elements of list....

[5, 3.2, 'coders', None, True, (3, 2, 4)]

## OPERATIONS ON LIST -->

In [ ]:
lst1.append('nish')    # The append() method appends/add an element to the end of the list. syntax:  listname.append(elmnt).

In [ ]:
lst1   # new and modified list access.

[5, 3.2, 'coders', None, True, (3, 2, 4), 'nish']

In [ ]:
lst1.insert(0, 555)   # insert also add elements as that to append function but append adds the elements at end of list.
                         # whereas, with insert function we add element at a specific index   -->  syntax:  listname.insert(index, element)

In [ ]:
lst1   # accessing new list. Here at 0 index 555 element is insert

[555, 5, 3.2, 'coders', None, True, (3, 2, 4), 'nish']

In [ ]:
lst1.extend([33, 'Nishant', 5.2])   # extend() function is also used to add up an element but their are multiple elements add at same time at end.
                                    # Syntax: list.extend(iterable)

                                    #Parameters include :
                                    # iterable: Any iterable (list, set, tuple, etc.)

In [ ]:
lst1  # modified list accessed.

[555, 5, 3.2, 'coders', None, True, (3, 2, 4), 'nish', 33, 'Nishant', 5.2]

In [ ]:
lst1.remove(None)   # for removing an element from list. Error arise if we remove element which is not present in list.
                # removes method or function only removes one element at one time which we specified.  syntax: listname.remove(element).

In [ ]:
lst1   #remove None..

[555, 5, 3.2, 'coders', True, (3, 2, 4), 'nish', 33, 'Nishant', 5.2]

In [ ]:
lst1.reverse()   # a list's elements can be reversed with the reverse method.  syntax:  listname.reverse()

In [ ]:
lst1  # access the reverse list.

[5.2, 'Nishant', 33, 'nish', (3, 2, 4), True, 'coders', 3.2, 5, 555]

In [ ]:
#  Python list pop() is an inbuilt function in Python that removes and returns the last value from the List or the given index value.
#  syntax : listname.pop(index number of element to popped)

lst1.pop(3)  # pop the index numbr 3 element.  poped element is return and is remove from list

'nish'

In [ ]:
lst1  # here, popped element remove.

[5.2, 'Nishant', 33, (3, 2, 4), True, 'coders', 3.2, 5, 555]

In [ ]:
# index() function is used for know the index value of an element present in the list.
# syntax:  listname.index(element)

lst1.index(3.2)

6

In [ ]:
# count() function is used to count the number of time an element is presence in the list.
# syntax:  listname.count(element)
lst1.count(5)

1

In [ ]:
# copy() function or method returns the copy of a list.
#  syntax : listname.copy()
lst1.copy()  # it return a copy of our list.

[5.2, 'Nishant', 33, (3, 2, 4), True, 'coders', 3.2, 5, 555]

In [ ]:
# sort() function or method is used for sorting our list into an ascending order. Only integers can be sorted.
# synatx:   listname.sort()

# let a list have integers as

listt = [334, 2, 4387, 322832, 73297, 98329, 33, 22]

In [ ]:
listt.sort()

In [ ]:
print(listt)  # arrange all integers into ascending order.

[2, 22, 33, 334, 4387, 73297, 98329, 322832]

In [ ]:
# clear() method or function are used for clear all the lements of list.
# syntax:  listname.clear()
listt.clear()    # clear the list we made of name "listt"

In [ ]:
print(listt)  # clear done! no element present in list and list become an empty list.

[]

# DICTIONARIES IN PYTHON -->

*Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.Dictionary can be created by sequence of key vakues by using the curly braces{}. keys and value are written under single quotes

*Values in a dictionary can be of any data type and can be duplicate but keys can't be duplicate and immutable in nature.
Dictionary keys are sensitive the upper case key and lower case key both can be treated as a two keys.

In [ ]:
# creating a dictionaries of having different key value.
#  syntax:  dictionary_name = {key: value}

dict1 = {'name': 'nish', 'email': '@123', 'sem': 'third'}

In [ ]:
print(dict1) # access the dictionary we made.

{'name': 'nish', 'email': '@123', 'sem': 'third'}

In [ ]:
dict1['name']  # access the value of key (name)

'nish'

## OPERATIONS ON THE DICTIONARIES ---->

In [ ]:
#Python Dictionary update() method updates the dictionary with the elements from another dictionary object or from an iterable of key/value pairs.

#  Syntax: dict.update({key : value})

dict1.update({'name': 'Nishant'})  # update our key(name) value from 'nish' to 'Nishant'

In [ ]:
dict1

{'name': 'Nishant', 'email': '@123', 'sem': 'third'}

In [ ]:
# copy() function or method returns the copy of a dictionary.
#  syntax : dictionary_name.copy()
dict1.copy()

{'name': 'Nishant', 'email': '@123', 'sem': 'third'}

In [ ]:
# item() functin returns a list containing tuple fpr each key value pair.
# it converts dictionary into list which contains tuple of key value pair.  syntax : dictnary_name.items()
dict1.items()

dict_items([('name', 'Nishant'), ('email', '@123'), ('sem', 'third')])

In [ ]:
dict1.keys()  # for accessing the only all keys of an dictionary

dict_keys(['name', 'email', 'sem'])

In [ ]:
dict1.values()  # for accessing the only all values of an dictionary.

dict_values(['Nishant', '@123', 'third'])

In [ ]:
# Python dictionary pop() method removes and returns the specified element from the dictionary.
# syntax:  dictionary_name.pop('key')
dict1.pop('email') # it returns the key- mail with its value and remove it from dictionary.

'@123'

In [ ]:
dict1   # remove mail key value pair by pop() function

{'name': 'Nishant', 'sem': 'third'}

In [ ]:
# The Python popitem() method removes and returns the last element (key, value) pair inserted into the dictionary.
# it is similar to pop() but it automatically return the last enter key value pair from dictionary and remove it.

In [ ]:
# set default() method returns value of item. when a key is not in dictionary then it will insert that key into dictionary.
#  we set it to given value anf if their is no value it will None defaultly.
dict1.setdefault('mail', '@123')   # not in dictionary but it returns its value we set.

'@123'

In [ ]:
dict1    ## add the key value into dictionary because key we search not in the dictionary.

{'name': 'Nishant', 'sem': 'third', 'mail': '@123'}

In [ ]:
dict1.setdefault('maill', '@12333')

'@12333'

In [ ]:
print(dict1)  # add the key value into dictionary because key we search not in the dictionary.

{'name': 'nish', 'email': '@123', 'sem': 'third', 'mail': '@123', 'maill': '@12333'}

In [ ]:
# the function fromkeys() which retuurns the dictionary with key mapped and specific value.
#  syntax:  dictionary_name.fromkeys(sequence, value); sequence is the element transformed into dictionary.

dict1.fromkeys('name', 'nish')  # it returns a dictionary.  here, if their is no  value of keys then it will set to None.

{'n': 'nish', 'a': 'nish', 'm': 'nish', 'e': 'nish'}

In [ ]:
# clear() method or function are used for clear all the elements of dictionary.
# syntax:  dictionaryname.clear()
dict1.clear()

In [ ]:
dict1  # empty all the dictionary.

{}

# SETS IN PYTHON...

A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements. 

Set are represented by { } (values enclosed in curly braces)

In [ ]:
# creating the set....
s1 = {23, 34, 22, 44, 42, 55, 56, 11, 'nish'}

In [ ]:
type(s1)

set

In [ ]:
s1   # when we access our set then then all integers are sorted in ascending order automatically.

{11, 22, 23, 34, 42, 44, 55, 56, 'nish'}

# METHODS AND FUNCTION OF SET:

In [ ]:
s11 = {2, 33, 3, 67, 6, 4, 99}

In [ ]:
s11.add(0)   # insertion in done through the add function. syntax: set_name.add(element to be added)

In [ ]:
s11

{0, 2, 3, 4, 6, 33, 67, 99}

In [ ]:
s11.add(999)   # add 999 at specific position automatically in ascending order.

In [ ]:
s11

{0, 2, 3, 4, 6, 33, 67, 99, 999}

In [ ]:
# union operation, here two sets are merge together using union.   syntax: set1.union(set2)
s22 = {2, 44, 66, 5}
s11.union(s22)  # also write as s11 | s22

{0, 2, 3, 4, 5, 6, 33, 44, 66, 67, 99, 999}

In [ ]:
s11 | s22

{0, 2, 3, 4, 5, 6, 33, 44, 66, 67, 99, 999}

In [ ]:
# intersection operation done through (&) operator.comon elements are taken out from both the sets.
#  syntax: setname1.intersection(setname2)

s11.intersection(s22)

{2}

In [ ]:
# difference operation is used to subtraction between two sets 
# let two sets are;
ss = {2, 3, 4, 5}
sss = {2, 3, 55, 77}

In [ ]:
ss.difference(sss) # here if the element subtract is present in other set then it will cancel else return value as it is.

{4, 5}

In [ ]:
# clear() method or function are used for clear all the elements of from set.
# syntax:  setname.clear()
s22.clear()

In [ ]:
s22  #accessing the clear set.

set()

In [ ]:
# pop() function return an random variable from set and removes it from set
# syntax: setname.pop()
s11.pop()

0

In [ ]:
s11.pop()

33

In [ ]:
s11

{2, 3, 4, 6, 67, 99, 999}

In [ ]:
# discard() method and function removes an specific element
#  syntax: setname.discard(value)
s11.discard(67)

In [ ]:
s11

{2, 3, 4, 6, 99, 999}

In [ ]:
 # ifdisjoint() methods returns True if two sets don't have any common items it means they are disjoint.
 # else if their is common elements and it means that it return false
 #syntax: setname.isdisjoint(setname2)
 s111 = {2,3}
 s222 = {2,4,5}
 s111.isdisjoint(s222)  # return false because element is present  in both sets.

False

In [ ]:
# subset function is method returns true if all items in set exists in a specified set and returns false

In [ ]:
s111.issubset(s222)

False

In [ ]:
# remove() method will raise an error if specified item is  to remove which is not exist in set.

In [ ]:
s111.remove(2)  # removes 2 from set.

In [ ]:
print(s111)

{3}

In [ ]:
# The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it retuns False.

s11.issuperset(s22)

True

In [ ]:
s111

{3}

In [ ]:
s222

{2, 4, 5}

In [ ]:
s111.issuperset(s222)

False

# CONTROL FLOW OF PYTHON  --->

**DECESION MAKING STATEMENTS** -->

*There comes situations in real life when we need to make some decisions and based on these decisions, we decide what should we do next. Similar situations arise in programming also where we need to make some decisions and based on these decisions we will execute the next block of code. Decision-making statements in programming languages decide the direction of the flow of program execution.

**if statement :
if statement is the most simple decision-making statement. It is used to decide whether a certain statement or block of statements will be executed or not i.e if a certain condition is true then a block of statement is executed otherwise not.

In [ ]:
# python program to illustrate If statement
  
i = 10
  
if (i > 15):
    print("10 is less than 15") # here, this part is false this block of code cam't run it goes to next one.
print("I am Not in if")   # coz of the above statement is false this this will execute.

I am Not in if

**if-else:
The if statement alone tells us that if a condition is true it will execute a block of statements and if the condition is false it won’t. But what if we want to do something else if the condition is false. Here comes the else statement. We can use the else statement with if statement to execute a block of code when the condition is false.

In [ ]:
# python program to illustrate If else statement.
  
i = 20
if (i < 15):
    print("i is smaller than 15")
    print("i'm in if Block")  # this statement will execute and check first. this condition is false. then it check the else block 
else:
    print("i is greater than 15")   # this statement will check and this is run if condition is true.
    print("i'm in else Block")
print("i'm not in if and not in else Block")  # this will execute when if and else both are false.

i is greater than 15
i'm in else Block
i'm not in if and not in else Block

In [ ]:
# python program to illustrate nested If statement
#Nested if statements mean an if statement inside another if statement. 
i = 10
if (i == 10):  # check firstly this condition if this is true then it will enter into the if block.
    
    #  First if statement
    if (i < 15):      # if the above condition is true then check this, if this is true then execute this
        print("i is smaller than 15")
          
    # Nested - if statement
    # Will only be executed if statement above
    # it is true
    if (i < 12):
        print("i is smaller than 12 too")  # this will be checked if first if statement is true.  execute this if condition is true
    else:
        print("i is greater than 15")  # if above one is false then execute this.

i is smaller than 15
i is smaller than 12 too

**if-elif-else ladder:
Here, a user can decide among multiple options. The if statements are executed from the top down. As soon as one of the conditions controlling the if is true, the statement associated with that if is executed, and the rest of the ladder is bypassed. If none of the conditions is true, then the final else statement will be executed.

In [ ]:
# Python program to illustrate if-elif-else ladder
i = 20
if (i == 10):  # check firstly this if condition. if this is true then execute else go to next
    print("i is 10")
elif (i == 15):    # check this if above is false if this is true execute else go to next
    print("i is 15")
elif (i == 20):   # check this condition if above is false if this is true then run otherwise next
    print("i is 20")
else:
    print("i is not present")  # this else will execute if the all if and elif will executed.

i is 20

##Python For loop is used for sequential traversal i.e. it is used for iterating over an iterable like String, Tuple, List, Set or Dictionary.

In Python, there is no C style for loop, i.e., for (i=0; i<n; i++). There is “for” loop which is similar to each loop in other languages

In [ ]:
# for loop
l = ["geeks", "for", "geeks"]
for i in l:
    print(i)

geeks
for
geeks

In [ ]:
# for-else loop
 
for i in range(1, 4):
    print(i)
else:  # Executed because no break in for
    print("No Break\n")

1
2
3
No Break

## while loop:
Python While Loop is used to execute a block of statements repeatedly until a given condition is satisfied. And when the condition becomes false, the line immediately after the loop in the program is executed.

In [ ]:
# Python program to illustrate
# while loop
count = 0
while (count < 3):   # here check the value of count first and compare it with while condition if condition is true it execute.
    count = count + 1 # when it execute first time then increment in count value then again while condition is check.

    # this will continue unless the while condition is false
    print("Hello Geek")   # when while condition is false ! exit of loop occur.

Hello Geek
Hello Geek
Hello Geek

In [ ]:
a = [1, 2, 3, 4]   # while loop
  
while a:
    print(a.pop())  # poping will done unless all element from a will popped. after popping all elements while condition will false. then loop end.

4
3
2
1

In [ ]:
# Single statement while block --->
count = 0
while (count < 5): count += 1; print("Hello coders")   # here print hello coders unless the value of the count is 5.

Hello coders
Hello coders
Hello coders
Hello coders
Hello coders

In [ ]:
i = 0    # while with if condition and a continue loop done -->
a = 'codersreadystudents'
  
while i < len(a):
    if a[i] == 'e' or a[i] == 's':
        i += 1
        continue   # this will indicate that loop is continue.
          
    print('Current Letter :', a[i])
    i += 1

Current Letter : c
Current Letter : o
Current Letter : d
Current Letter : r
Current Letter : r
Current Letter : a
Current Letter : d
Current Letter : y
Current Letter : t
Current Letter : u
Current Letter : d
Current Letter : n
Current Letter : t

In [ ]:
# break the loop as soon it sees 'e'
# or 's' in the letter. This break will help us to exit our loop after at a certain condition where we want to exit loop.
i = 0
a = 'codersreadystudents'
  
while i < len(a):
    if a[i] == 'e' or a[i] == 's':
        i += 1
        break    # here whenever the letter 'e' and 's' occur loop break else increment in i occur
          
    print('Current Letter :', a[i])
    i += 1

Current Letter : c
Current Letter : o
Current Letter : d

## PYTHON FUNCTION :

Python Functions is a block of statements that return the specific task.

The idea is to put some commonly or repeatedly done tasks together and make a function so that instead of 
writing the same code again and again for different inputs, we can do the function calls to reuse code
 contained in it over and over again. 

 PYTHON FUNCTION SYNTAX -->   def function_name(parameters)

In [ ]:
# program of having function-->

def greed(name):   # function greed is made with the parameter name.
  print("GOOD DAY "+ name)

In [ ]:
greed("NISHANT")  # calling the function with its parameter value assigned heree i:e is NISHANT.

GOOD DAY NISHANT

In [ ]:
def add(num1: int, num2: int) ->  int:
    num3 = num1 + num2

    return num3

num1, num2 = 5, 15
ans = add(num1, num2)
print(f"the addition of {num1} and {num2} is results in {ans}")

the addition of 5 and 15 is results in 20

In [ ]:
def evenOdd(x):
    if (x % 2 == 0):
        print("even")
    else:
        print("odd")
 
 
# Driver code to call the function
evenOdd(2)
evenOdd(3)

even
odd

In [ ]:
def myself(name):
  print("MY SELF ! "+ name)

In [ ]:
myself("NISHANT")

MY SELF ! NISHANT

In [ ]:
def my_func(name, msg):
  print("hello ! " + name + msg)

In [ ]:
my_func(msg= "how r you ", name="Nishant ")  #keywords arguement

hello ! Nishant how r you

arbitrary positional arguement

In [ ]:
def add(*g):  # it is an arbitrary positional arguement.# single sign (*) for one value and seperate values.
  
    result = 0
    for i in g:
        result += i
    return result

In [ ]:
add(1, 2, 3)

6

In [ ]:
add(20, 20, 20, 20 )

80

In [ ]:
add(1000, 1000, 10000, 10000)

22000

In [ ]:
add(20, 20)

40

arbitrary keyword arguement.

In [ ]:
def f6(**h):
    for i in h.items():
        print(i)

In [ ]:
f6(num = 6,color = "blue", fruit = "litchi")

('num', 6)
('color', 'blue')
('fruit', 'litchi')

In [ ]:
def f7(**g):   # double multiply sigh for keys and value.
    for i in g.items():
      print(i)

In [ ]:
f7(num= 6, name="nishant", color= "blue")

('num', 6)
('name', 'nishant')
('color', 'blue')

## RECURSSIVE FUNCTION

which calls itself e:g is factorial of any number.

In [ ]:
def recur_fact(x):
    if x == 1:
        return 1
    else:
        return(x*recur_fact(x-1))    # factorial run here unless it is equal to 1

In [ ]:
recur_fact(8)

40320

In [ ]:
num = int(input("enter the number: "))
if num>=1:
  print("the factorial of ", num,"is ",recur_fact(num))

enter the number: 3
the factorial of  3 is  6

# lambda function

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.
syntax::
lambda arguments: expression

In [ ]:
x = lambda a : a + 10
print(x(5))

15

In [ ]:
y = lambda a, b, c : a + b + c
print(y(20, 20, 20))

60

In [ ]:
z = lambda a : 1000 + a
print(z(1000))

2000

The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [ ]:
def myfunc(n):  # arguement of an function
  return lambda a : a * n  # lambda function.

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

# using lambda function with filter() and map()

The filter() method accepts two arguments in Python: a function and an iterable such as a list.

The function is called for every item of the list, and a new iterable or list is returned that holds just those elements that returned True when supplied to the function.

Here's a simple illustration of using the filter() method to return only odd numbers from a list.

In [ ]:
listt = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

ev = list(filter(lambda x: (x%2 == 0),listt))   # it returns the even numbers in list
print(ev)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

** A method and a list are passed to Python's map() function.

The function is executed for all of the elements within the list, and a new list is produced with elements generated by the given function for every item.

The map() method is used to square all the entries in a list in this example.

In [ ]:

db = list(map( lambda num: (num ** 2) , listt))  # square of all elements in the list.   first example.
print(db)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
numbers_list = [2, 4, 5, 1, 3, 7, 8, 9, 10]  # example two
  
squared_list = list(map( lambda num: num ** 2 , numbers_list ))  
  
print( squared_list )

[4, 16, 25, 1, 9, 49, 64, 81, 100]

# PYTHON AS AN OOPS -->

In Python, object-oriented Programming (OOPs) is a programming paradigm that uses objects and classes in programming. It aims to implement real-world entities like inheritance, polymorphisms, encapsulation, etc. in the programming. The main concept of OOPs is to bind the data and the functions that work on that together as a single unit so that no other part of the code can access this data.

In [ ]:
class car:  
    def __init__(self,modelname, year):  
        self.modelname = modelname  
        self.year = year  
    def display(self):  
        print(self.modelname,self.year)  
  
c1 = car("Toyota", 2016)  
c1.display()

Toyota 2016

In [ ]:
class car:  
    def __init__(self,modelname, year):  
        self.modelname = modelname  
        self.year = year  
    def display(self):  
        print("the model name of the car is " +self.modelname, +self.year)  
  
c1 = car("Toyota", 2016)  
c1.display()

the model name of the car is Toyota 2016

In [ ]:
class car:
    def __init__(self,modelname, year):
        self.modelname = modelname
        self.year = 2022
    def display(self):
        print("the model name of the car is " , self.modelname, self.year)  
c11 = car("BMW", "2022")
c11.display()

the model name of the car is  BMW 2022

In [ ]:
class trainee:
    def __init__(self):   # default constructor.
        self.student = "coder22"
    def print_student(self):
        print(self.student)

obk = trainee()
obk.print_student()

coder22

In [ ]:
class Person(object):
 
    # __init__ is known as the constructor
    def __init__(self, name, idnumber):
        self.name = name
        self.idnumber = idnumber
 
    def display(self):
        print(self.name)
        print(self.idnumber)
         
    def details(self):
        print("My name is {}".format(self.name))
        print("IdNumber: {}".format(self.idnumber))
     
# child class
class Employee(Person):
    def __init__(self, name, idnumber, salary, post):
        self.salary = salary
        self.post = post
 
        # invoking the __init__ of the parent class
        Person.__init__(self, name, idnumber)
         
    def details(self):
        print("My name is {}".format(self.name))
        print("IdNumber: {}".format(self.idnumber))
        print("Post: {}".format(self.post))
 


# creation of an object variable or an instance
a = Employee('Rahul', 886012, 200000, "Intern")
 
# calling a function of the class Person using
# its instance
a.display()
a.details()

In [ ]:
class Person:
    def __init__(self, name,idnumber):
        self.name = name
        self.idnumber = idnumber

    def display(self):
        print(self.name)
        print(self.idnumber)

    def details(self):
        print("My name is {} ".format(self.name))
        print("My name is {} ".format(self.idnumber))


    # child class

class employee(Person):
    def __init__(self, name, idnumber, salary, post):
        self.salary = salary
        self.post = post

        # invoking the __init__ of the parent class

        Person.__init__(self, name, idnumber)

    def details(self):
        print("My name is {} ".format(self.name))
        print("My name is {} ".format(self.idnumber))
        print("Post: {} ".format(self.post))   

        # creation of an object variable or an instance
a = employee('Rahul', 886012, 200000, "Intern")

a.display()
a.details()

Rahul
886012
My name is Rahul
My name is 886012
Post: Intern

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

x = Student("Mike", "Olsen", 2019)
x.welcome()

Welcome Mike Olsen to the class of 2019

In [ ]:
class person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.name)

class student(person):
  def __init__(self, fname, lname, year):
    Person.__init__(self, fname, lname)
    self.graduatingyear = year 

x = Student("Mike", "Olsen", 2019)     
print(x.firstname)

Mike